@charset "UTF-8";

.calcTable {
	text-align: center;
	background-color: chocolate;
	border-radius: 0px 0px 20px 20px; 
}

.calcDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}

.calcBtn {
	width: 60px;
	height: 60px;
	display: inline-block;
	font-size: 40px;
	background-color: beige;
	color: darkblue;
	border-radius: 20px;
}

.calcBtn:hover{
	background-color: darkblue;
	color: white;
}

.colspan {
	width: 100%;
	height: 60px;
}

#calcResult{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	background-color: burlywood;
	width: 258px;
	height: 90px;
	text-align: end;
	vertical-align: middle;
	border-radius: 20px 20px 0px 0px; /* 左上、右上、右下、左下 */
}

#result {
	background-color: lightslategray;
	width: 85%;
	height: 75%;
	color: white;
	padding-right: 5px;
}